@import './reset';
@import './mixins';
@import './variables';
@import './elements';
@import './components/Auth.scss';
@import './components//Dashboard.scss';
@import './components//Nav.scss';
@import './components//Game.scss';
@import './components//Admin.scss';
@import './components//Lobby.scss';



.App {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background-color: rgba($primary, 0.2);
    font-family: $main-font;
}