@import '../mixins';

.auth-outer-container {
    @include outer-container;
    
    .auth-inner-container {
        @include centered;
        @include card(white, rgba($primary, .5));
        @include flex(column);
        width: 400px;
        height: 600px;
        text-align: center;
    
        h1 {
            font-family: $title-font;
            font-size: 50px;
        }

        p {
            width: 70%;
            font-size: 20px;
            line-height: 25px;
        }
        
        .auth-form {
            @include flex(column);
            height: 30%;
        }

        
        @include breakPoint(tablet-max) {
            .auth-form {
                font-size: 25px;
                label {
                    margin: 10px;
                }
                input {
                    font-size: 25px;
                }
                .auth-buttons {
                    margin: 40px 0px;

                    .button {
                        font-size: 20px;
                    }
                }
            }
        }
        @include breakPoint(mobile-max) {
            width: 90%;
            

            h1 {
                font-size: 40px;
            }

            .auth-form {
                font-size: 25px;
                label {
                    margin: 10px;
                }
                input {
                    width: 70%;
                    font-size: 25px;
                }
                .auth-buttons {
                    margin: 40px 0px;

                    .button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
