.dashboard-outer-container {
    @include outer-container;
}

.playlist-map-container {
    @include flex(row);
    @include centered;
    flex-wrap: wrap;
    width: 70%;
}

.playlist-card {
    @include flex (row);
    width: 300px;
    height: 200px;

    img {
        height: 90%;
        cursor: pointer;
        border-radius: 50%;
    }
}

.high-scores-container {
    @include flex(column);
    position: absolute;
    top: 50%;
}