.lobby-outer-container {
    @include outer-container;
    background-color: white;

    
    .lobby-inner-container {
        position: relative;
        @include card(rgba($primary, .2), rgba(black, .2));
        margin: auto;
        height: 90%;
        width: 90%;
        
        margin: 100px auto;
        padding: 20px 0px;
        
        .side-bar-left {
            @include flex(column);
            @include card(rgba($secondary, .2), $primary);

            width: 300px;
            height: 90%;
            margin: 20px;
            padding: 20px 0px;

            .side-bar-title {
                font-size: 30px;
                margin: 10px;
                padding: 10px;
            }

            .playlist-info {
                @include card(white, $secondary);
                @include flex(column);
                width: 250px;

                img {
                    width: 90%;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }

            .users-container {
                @include card(white, $secondary);
                width: 250px;
                height: 300px;

                text-align: center;

                .users-map-container{
                    .user-container {
                        @include flex(row);
                        font-size: 20px;
                        .leader-icon {
                            width: 15px;
                        }
                    }
                }
            }
        }

        .game-start {
            position: absolute;
            top: 20%;
            right: 15%;
            text-align: center;
            font-size: 50px;
            width: fit-content;

            .button {
                font-size: 50px;
            }
        }

        .game-over-container {
            @include flex(column);

            height: 300px;
            text-align: center;

            position: absolute;
            right: 30%;
            top: 30%;

            z-index: 10;

            .winner-icon-main {
                width: 100px;
            }

            p {
                font-size: 80px;
            }
        }

        .problem-message {
            position: absolute;
            right: 15%;
            top: 30%;
            font-size: 50px;
            margin: auto;
        }

        @include breakPoint(tablet-max) {
            .game-start {
                right: 10%;
                font-size: 30px;
                .button {
                    font-size: 30px;
                }
            }
        }
        @include breakPoint(tablet-min) {
            .game-start {
                width: 340px;
                left: 0px;
                top: 5%;
                font-size: 30px;
                .button {
                    font-size: 30px;
                }
            }
            .side-bar-left {
                position: absolute;
                top: 15%;
                height: 75%;

                .users-container {
                    height: 250px;
                }
            }
            .hidden {
                display: none;
            }
        }
        @include breakPoint(mobile-max) {

        }
    }
}

